.header-image {
  position: relative;
}
.header-image .header-text {
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 1;
}
.header-image img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness();
}
