.swiper {
    width: 100%;
    height: auto; /* Change height to auto to fit content */
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img, .swiper-slide video {
    display: block;
    width: 100%;
    height: auto; /* Change height to auto to maintain aspect ratio */
    object-fit: contain; /* Changed from cover to contain */
  }
  